@model FootballLeagueWebsite.Models.Team

@{
    ViewData["Title"] = "Edit";
}
@using (Html.BeginForm("Edit", "Teams", FormMethod.Post, new { enctype = "multipart/form-data" })) {
<h1>Edit</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamId" />
            <div class="form-group">
                <label asp-for="TeamName" class="control-label">Club</label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Coach" class="control-label"></label>
                <input asp-for="Coach" class="form-control" />
                <span asp-validation-for="Coach" class="text-danger"></span>
            </div>
                <div class="form-group" style="display: none;">
                <label asp-for="LogoPath" class="control-label"></label>
				<input asp-for="LogoPath" class="form-control" />
                <span asp-validation-for="LogoPath" class="text-danger"></span>
            </div>
			<div class="form-group">
                <label asp-for="Logo" class="control-label">Logo</label>
                <input asp-for="Logo" type="file"  class="form-control" />
                    @if (!Model.LogoPath.Contains("Missing")) {
                      <label class="control-label">Current Logo: @(Model.LogoPath)</label>
                    } else {
                      <span>Logo not set</span>
                    }
                 <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
